.table-header {
    color: #FFF;
}

.selected {
    background-color: #9797a0;
    color: #FFF;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #343a3f/*#d6d8d6*/;
  color: #FFF;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top-left {
  top: 10%;
  left: 10%;
  margin: 0%;
  text-align: top;
}

.null-margin {
    margin: 0%;
}

#table-wrapper {
  position:relative;
}

#table-scroll {
  overflow:auto;
}

#table-wrapper table thead th .text {
  position:absolute;
}